*{
    margin: 0;
    padding: 0;
}
body{
    background-color: antiquewhite;
    height: 100vh;
}
section{
    display: grid;
    grid-template-columns:  50% 50%;
    grid-template-rows: 50% 50%;
    border: 3px solid black;
    height: 80vh;
    place-content: end center;
    
}
div{
    font-size: 3em;
    font-weight: bold; 
    border-radius: 15px; 
}
.itemAa{
    background-color: aquamarine;
    
}
.itemA{
    background-color: aquamarine;
    
    
}
.itemB{
    background-color: cadetblue;
}
.itemC{
    background-color: chartreuse;
}
.itemD{
    background-color: blueviolet;
}
.itemE{
    background-color: aquamarine;
    
}
.itemF{
    background-color: cadetblue;
}










