.container{
    border: 3px solid black;
    display: flex;
    flex-flow: column wrap;  
    height: 400px;
    /* justify-content: end;
    align-items: flex-end;  */
    /* align-content: stretch; */
    
    
}
div{
    padding: 10px;
     
    
}
.child-1{
    background-color: rgb(0, 55, 155);
    width: 15%;
    align-self: flex-start;
    
}
.child-2{
    background-color: rgb(0, 75, 155);
    width: 15%;
    
}
.child-3{
    background-color: rgb(0, 95, 155);
    width: 15%;
    
}
.child-4{
    background-color: rgb(0, 115, 155);
    width: 15%;
    
    
}
.child-5{
    background-color: rgb(0, 135, 155);
    width:15%;
}












