.formulario2{
    visibility: hidden;
    background-color: white;
    padding: 0px 20px 20px 20px;
    width: 200px;
    height: 350px;
    border-radius: 15px;
    font-weight: bold;

   
}
.formulario2 div {
    display: flex;
    flex-flow: column nowrap;
    justify-content: stretch;
    margin-top: 10px;
}