body{
    background-color: white;
}


.cont{
    background-color: darksalmon;
    display: flex;
    flex-flow: column wrap; /* orientação do justify e do align*/
    height: 400px;
    justify-content: space-between;
    align-items: start;
}
.novobloco {
    box-shadow: inset 0 0 1px black;
    background-color: rgb(176, 219, 220);
    width: 20px;
    height: 20px;
    

}
.A{
    align-self: self-start;
}

.B{
    align-self: center;
}
.C {
    align-self: self-end;
} 