nav {
    display: flex;
    flex-flow: column nowrap;
    font-size: 1.6em;
    /* background-color: cadetblue; */
}

nav a {
    text-decoration: none;
    margin: 20px;
    padding: 20px;
    color: #FFF;
    background-color: burlywood;
}
nav a:hover{
    background-color: aqua;
}