.container {
    height: 500px;
    width: 400px;
    background-color: gray;
    display: grid;
    grid-template-columns: 20% 1fr 50px;
    grid-template-rows: 10% 1fr;
    grid-row-gap: 5px;
    grid-template-areas: 'colum1 colum2 colum3' 
                         'colum4  colum5 colum6'
                         
    ;
    justify-content: space-evenly;

}
.num1 {
    background-color: purple;
    width: 50px;
    grid-area: colum2;
    
}
.num2 {
    background-color: purple;
    width: 50px;
    grid-area: colum2;
    
}
.num3 {
    background-color: purple;
    width: 50px;
    grid-area: colum1;
    
}
.num4 {
    background-color: purple;
    width: 50px;
    grid-area: colum5;
    
}
.num5 {
    background-color: purple;
    width: 50px;
    grid-area: colum6;
    
}







