body{
    background-color: lightblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.app{
    height: 600px;
    width: 300px;
    position: absolute;
    top: 5%;
    left: 10%;


    background-color: skyblue;
}



.sDivTop{
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: aliceblue; */
}
.sDiv{
    background-color: whitesmoke;
    border-radius: 15px;
    height: 100px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

table {
    border-collapse: collapse;
    width: 100%;
  }
tr:nth-child(even) {
    background-color: #666464;
  }


.divInput{
    width: 100%;
    height: 20%;
    
    display: flex;
    align-items: end;
    justify-content: center;
}
.divInput input{
    height: 30px;
}

.sBtn{
    width: 100%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.startBtn{
    height: 50px;
    width: 200px;
}
.startBtn button{
    height: 100%;
    width: 100%;
    border-radius: 15px;
    background-color: dodgerblue;
    font-size: 1.2em;
    font-weight: bold;
    color: white;

    
}
@media (min-width:600px) {
    .app{
        
        position: absolute;
        top: 5%;
        left: 30%;
    
    
    
    }
    
}
@media (min-width:1200px) {
    .app{
        
        position: absolute;
        top: 5%;
        left: 40%;
    
    
    
    }
    
}







