*{
  margin: 0;
  padding: 0;
}
.App {
  height: 100vh;

  display:  grid;
  grid-template-columns: 20% 1fr;
  grid-template-rows: 10% 1fr 10%;
  grid-template-areas: "logo header" "nav main" "footer footer";
}

.header {
  grid-area: header;
}
.logo {
  grid-area: logo;
}
.nav {
  grid-area: nav;
}
.conteudo{
  grid-area: main ;
}
.footer {
  grid-area: footer;
}


