*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    background: linear-gradient(to right ,rgb(231,123,95),rgb(231,55,231));
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
form{
    background-color: aliceblue;
    width: 200px;
    height: 250px;
    padding: 0 50px 50px;
    border-radius: 10px;
}
form div {
    display: flex;
    flex-flow: column nowrap;
    justify-content: stretch;
    margin-top: 10px;
}
form div label {
    font-weight: bold;
    font-size: 1.2em;
    color: darkslategrey;

}
form div input {
    padding: 5px;
}
.password {
    text-decoration: none;
    color: cadetblue;
    font-weight: bold;
    font-size: 0.8em;
}

.login{
    background: linear-gradient(to right ,rgb(231,123,95),rgb(231,55,231));
    font-size: 1.2em;
    font-weight: bold;
    color: white;
    padding: 5px;
    margin-top: 5px;
    border: none;
    border-radius: 5px;
}
form p {
    margin-top: 10px;
    font-weight: bold;
}
form p a {
    text-decoration: none;
    color: darkslategrey;
}
.leave{
    text-align: right;
   
    
}



















